*.log
.cache
.DS_Store
src/.temp
node_modules/
dist
.env
.env.*
!.env.example
dist/
yarn.lock
package-lock.json
static/manifest.json
static/assets/img/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/
