
// color variables
$primary: #00965e;
$secondary: #4581cf;
$success: #86ba4f;
$info: #37bc9b;
$danger: #e9573f;
$warning: #f6bb42;
$red: #da4453;
$lavander: #967adc;
$pink: #d770ad;
$light-green: #e7f2ed;
$light-grey: #eeeeee;
$medium-grey:#aab2bd;
$dark-grey:#434a54;